@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Abel);
/* Base
------------------------------------------------------------*/
html {
  font-size: 62.5%;
}

body {
  color: #030303;
  font-size: 1.4rem;
  font-family: "游ゴシック", YuGothic, "メイリオ", Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 1.6;
  letter-spacing: 0.1em;
  background-color: #e0e0e0;
}

a {
  color: #030303;
  text-decoration: none;
}
a:visited {
  color: black;
}
a:hover {
  color: black;
}
a:active {
  color: #101010;
}

/* Align
------------------------------------------------------------*/
.text-center {
  text-align: center;
}

/* Layout
------------------------------------------------------------*/
.block-center, section .container, #FooterContents .conversionButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Font
------------------------------------------------------------*/
.abel, section h2, #MainContents .contents-box {
  font-family: 'Abel', sans-serif;
}

.uppercase, section h2, #MainContents .contents-box {
  text-transform: uppercase;
}

/* Header
------------------------------------------------------------*/
header .header-picture {
  width: 100%;
  height: 250px;
  background-image: url("../img/etryrew_TP_V.jpg");
  color: #000000;
  background-color: #f8dce0;
  margin: 0 auto;
  padding: 0;
  clear: both;
}

@media (min-width: 1025px) {
  header .header-picture {
    height: 500px;
  }
}
/* Contents
------------------------------------------------------------*/
section {
  padding: 60px 0;
}
section .container {
  width: 90%;
}
section h2 {
  font-size: 3.2rem;
}

#MainContents {
  background-color: #e0e0e0;
}
#MainContents .container {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-flex-direction: column;
  flex-direction: column;
}
#MainContents h2 {
  color: #030303;
  padding: 10px;
}
#MainContents .contents-box {
  -webkit-flex: 1;
  flex: 1;
  margin: 1px 0;
  padding: 10px;
  background-color: #e0e0e0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#MainContents .box-title {
  background-color: #3d6a72;
  color: #030303;
  margin-bottom: 0;
  font-size: 2.4rem;
  font-weight: bold;
}
#MainContents .box-contents {
  background-color: #8dafbb;
  color: #030303;
  margin: 0;
  font-size: 1.5rem;
}

@media (min-width: 1025px) {
  #MainContents
  .container {
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
  }

  .contents-box {
    margin: 1px 0;
    padding: 10px;
  }

  .box-contents {
    min-height: 120px;
  }
}
#FooterContents {
  background-color: #dfd2bd;
}
#FooterContents h3 {
  color: #030303;
  padding: 10px;
}
#FooterContents .conversionButton {
  max-width: 200px;
  padding: 2px;
  background-color: #3d6a72;
  font-size: 1.8rem;
  font-weight: bold;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

@media (min-width: 1025px) {
  #FooterContents a .conversionButton:hover, #FooterContents a .conversionButton:active {
    background-color: #2b4b51;
    color: #FFF;
  }
}

/*# sourceMappingURL=style.css.map */
